.add-drink-form {
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-drink-form-title {
  margin-bottom: 16px;
}

.add-drink-form-button {
  margin-top: 16px;
}
